:root {
    --white: #fff;
    --black: #000;
    --lime-green: #68a61c; 
    --dark-gray: #2d3033;
    --lt-gray: #999fa8;
    --lt-green: #f5f9f4;
}

html{
    background-color: var(--white);
}

body {
    color: var(--black);
    line-height: 1.2;
    font-family: sans-serif; /*change font style*/
    box-sizing: border-box;
}


header, main, footer {
    width: 100%;
    padding: 16px;
    max-width: calc(1280px - 32px);
    margin: 0 auto;
}

header {
    margin: 0 auto 1rem auto;
    background-color: var(--lt-gray);
}

ul{
    list-style: none;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

nav a {
    color: var(--white);
    padding: 15px;
    text-decoration: none;
}

nav li{
    font-size: 1.3em;

}

nav a:hover {
    color: var(--lime-green);
    text-decoration: underline;
}

h1, h2, h3 {
    text-align: center;
    font-weight: bold;
}

h1{
    font-size: 2rem;
    margin: 1rem;
}

h2{
    font-size: 1.65rem;
    margin: 0.75rem;
}

h3{
    font-size: 1.45rem;
    margin: 0.5rem;
}

section img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

p{
    max-width: 65ch;
    padding: 1rem 0;
    margin: 0 auto;
}

button, input[type = "submit"]{
    display: block;
    padding: 1rem;
    background-color: var(--lime-green);
    color: var(--black);
    border: none;
}

input[type = "submit"]{
    width: 90%;
    margin: 0 auto;
}

input, label {
    display: block;
    font-size: 1rem;
    font-family: sans-serif;
}

label {
    margin: 0.5rem 0 0.25rem 0;
}

input {
    padding: 0.5rem 0.25rem;
    margin: 0 auto 1rem auto;
    width: (100% - 1rem);
}

.error{
    font-size: 1em;
    display: block;
}

/*#charlie, #annie, #footloose, #game {
    background-color: var(--lt-green);
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 1280px;
}*/

#productSwitcher, #game, #contact {
    background-color: var(--lt-green);
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: 1280px;
}

.selected {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    gap: 1rem;
}

.hiddenItem {
    display: none;
}

#switcherButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: fit-content;
    margin: 2rem auto;
}

#productSwitcher img {
    grid-row: 1/-1;
}

#productSwitcher h3 {
    grid-column: 2/-1;
    align-self: end;
}

#guessNum p {
    padding: 0.5rem;
}

#game {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#contact {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

#game div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

#game h2 {
    grid-column: 1/-1;
}

#game form {
    padding: 1rem;
}


#gameOutput {
    padding: 0.5rem;
}

footer {
    padding: 1rem 0;
    text-align: center;
    background-color: var(--lt-gray);
    margin-top: 2rem;
}